body{
    background-color: rgba(16, 70, 129, 0.781);
 }
div {
display: flex;
justify-content: center;
align-items: center;
}
h1 {
font-family: Monospace;
color: black;
font-size: 5em;
padding: 45px;
}
a {
font-size: 1.5em;
padding: 205px;
}
button{
border: 5px solid rgb(226, 43, 86);
font-size: 20px;
position: relative;
}